@model EmployeeResponse
@{
  int i = 0;
  bool firstPage = Model.CurrentPage == 1;
  bool lastPage = Model.Pages == Model.CurrentPage;
  int previousPage = Model.CurrentPage - 1;
  int nextPage = Model.CurrentPage + 1;
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>

<form id="download" asp-action="Download" method="post">
  <input name="fileType" id="export_type" hidden>
  <input name="CurrentPage" value="@Model.CurrentPage" hidden>
  <table id="actual_employee_table" class="table table-hover m-t-20">
        <thead class="thead-light">
      <tr>
        <th scope="col"># <input class="d-print-none" type="checkbox" id="select_all"></th>
        <th scope="col">Name <input class="d-print-none" type="checkbox" name="excel_column" value="FullName"></th>
        <th scope="col">Gender <input class="d-print-none" type="checkbox" name="excel_column" value="Gender"></th>
        <th scope="col">Designation <input class="d-print-none" type="checkbox" name="excel_column" value="Designation"></th>
        <th scope="col">Salary <input class="d-print-none" type="checkbox" name="excel_column" value="Salary"></th>
        <th scope="col">Date Of Birth <input class="d-print-none" type="checkbox" name="excel_column" value="DateOfBirth"></th>
        <th scope="col" class="d-print-none">Action</th>
      </tr>
    </thead>
    <tbody>
      @if (Model.Employees != null && Model.Employees.Count > 0)
      {
        @foreach (var item in Model.Employees)
        {
          i++;
          <tr>
            <th scope="row" onclick="viewDetail(@item.Id)">@i <input class="d-print-none" type="checkbox" name="excel_row" value="@item.Id"></th>
            <td onclick="viewDetail(@item.Id)">@item.FullName</td>
            <td onclick="viewDetail(@item.Id)">@item.Gender</td>
            <td onclick="viewDetail(@item.Id)">@item.Designation</td>
            <td onclick="viewDetail(@item.Id)">@item.Salary</td>
            <td onclick="viewDetail(@item.Id)">@item.DateOfBirth</td>
            <td scope="row" class="d-print-none">
              <button style="width: 90px;" type="button" class="btn btn-primary" id="edit-btn"
            onclick="updateEmployee('@item.Id')">
                Edit
              </button>
              <button style="width: 90px;" type="button" class="btn btn-danger"
            onclick="deleteEmployee('@item.Id.ToString()')" data-toggle="modal" data-target="#DeleteModal">
                Delete
              </button>
            </td>
          </tr>
        }
      }
      else{
        <td>No data!!</td>
      }

     
    </tbody>
  </table>
   <div class="d-print-none row">
        <div class="col-md-9">
        @if(Model.Employees != null && Model.Employees.Count > 0 && Model.Pages > 1){

          <nav aria-label="Page navigation">
            <ul class="pagination">
              
                @if(@previousPage != 0){
                  <li class="page-item">
                  <a class="page-link" onclick="updatePageNumber(@previousPage)" href="javascript:void(0)" aria-label="Previous">
                     <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                }else{
                  <li class="page-item disabled">
                  <a class="page-link disabled" >
                     <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

                }
                 
              @for (i = 1; i <= Model.Pages; i++)
              {
                  <li class="page-item"><a class="page-link" onclick="updatePageNumber(@i)" href="javascript:void(0)">@i</a></li>
              }
                @if(@nextPage < @Model.Pages){
              <li class="page-item">

                  <a class="page-link" href="javascript:void(0)" onclick="updatePageNumber(@nextPage)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
                }else{
              <li class="page-item disabled">

                  <a class="page-link disabled">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>

                }
            </ul>
          </nav>

        }
        </div>
        <div class="col-md-3">
          <button style="width: 180px;" type="button" id="export_file" class="btn btn-success">
            Export File
          </button>
        </div>
      </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> *@
<!-- #region datatables files -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js" defer></script>
<!-- #endregion -->
<script>
  $(document).ready(function(){
    $('#actual_employee_table').DataTable({ "paging": false, "info": false,"searching": false });
  })
  $('#export_file').click(function (e) {
    debugger
    e.preventDefault();
    $('#exampleModalCenter').modal("hide");

    $.ajax({
      url: "/Employee/ExportChoice",
      success: function (res) {
        $('#modal-content').html(res);
        $('#exampleModalCenter').modal("show");
      }
    })
  });

  function updatePageNumber(i){
    $("#fliter_currentPage").val(i);
    $("#filterSearch").trigger("click");
  }
</script>